<div class="customer-order">
    <h2 class="title">
        <span class="label">최근 주문 내역</span>
    </h2>
    <span style="font-size: 9pt;">
        "* 사용 가능한 신규가입 쿠폰이 있습니다....
    </span>
    <br>
    <br>
    {% if not my_orders %}
    <div class="no-item">
        최근 등록된 주문내역이 없습니다.
    </div>
    {% else %}
    <div class="items">
    {% for order in my_orders %}
        <ul>
            <li>{{ order.date_ordered }}</li>
            <li>
                {% for item in order.items.all %}
                    {{ item.product.name }}
                    {{ item.product.price }}
                    {{ item.product.thumbnail }}
            </li>
            <li>${{ order.get_cart_total }}</li>
        </ul>
    {% endfor %}
    </div>
    {% endif %}
    <h2 class="no-item">
        위시리스트
    </h2>
    <div class="no-item">
        위시리스트에 담긴 상품이 없습니다.
        <br>
        <br>
        <a href="{% url 'product:base' %}">계속 쇼핑하기</a>
    </div>









</div>
